*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    background-color: #f3f3f3;
    z-index: 10;
}
@font-face{
    font-family: latoblack;
    src: url('../font/Lato-Black.ttf');
}
@font-face {
  font-family: latoreg;
  src: url('../font/Lato-Regular.ttf');
}
@font-face{
    font-family: latobold;
    src: url('../font/Lato-Bold.ttf');
}
#container {
    margin: 0;
    min-width: 1200px;
}

#header{
    display: flex;
    background-color: #222222;
    height: 110px;
}

#header a{
    color: white;
}
#menu_2 a{
    color: white;
}

#header_left{
    width: 30%;
    margin-left: 8%;
    padding-top: 19px;
}

#header_right{
    width: 70%;
    margin-right: 8%;
    display: block;
}

.menu_1{
    height: 50px;
    width: 100%;
}
.menu_2{
    height: 60px;
}

.menu_1 ul {
    padding-top: 12px;
    display: flex;
    list-style-type: none;
    float: right;
    font-size: 12px;
}
.menu_1 ul li{
    font-family: latoreg;
    padding-left: 17px;
}
a{
    text-decoration: none;
}


.text{grid-area: input;}
.cart{grid-area: cart;color: white;}
.cart .icon{grid-area: cart_icon}
.cart .total{grid-area: cato}

.search{
    width: 70%;
    display: flex;
    height: 37px;
    margin-bottom: 25px;
}

.search input {
  width: 85%;
  font-size: 16px !important;
  background: #fff;
  border: 1px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-left: 10px;
}
.menu_2{
  width: 100%;
  display: flex;
  padding-left: 16%;
}

.search button i{
    font-size: 20px;
}

.search button {
  width: 10%;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background: #f10e34;
  border: #f10e34;
  color: #fff;
}

.cart {
width: 10%;
  display: flex;
  margin-left: 3%;
}

 .cart-icon i {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f10e34;
  color: #fff;
  line-height: 36px;
  text-align: center;
}

 .cart-desc {
  color: #fff;
  margin-left: 6px;
  font-size: 15px;
  line-height: 1.2;
}

/* CATEGORY */
#menu_2{
    width: 100%;
    display: flex;
    background-color: #f10e34;
    font-family: latobold;
    height: 50px;
    font-size: 14px;
}
#menu_2 .cate{
    padding: 14px 0;
    width: 25%;
    margin-left: 10%;
    color: #fce0e2;
    font-family: latobold; 
}
#menu_2 .cate i{
    padding-right: 10px;
}
#menu_2 .cate_2{
    padding-top: 15px;
    width: 70%;
}
#menu_2 .cate_2 ul{
    padding-left: 2%;
    display: flex;
    list-style-type: none;
    font-family: latoreg;
}
#menu_2 .cate_2 ul li{
    padding-right: 6%;
}

/*Banner*/
#content{
    display: flex;
}
#navbar{
    width: 30%;
}
#product{
    width: 70%;
}

.category{
    background-color: white;
    margin-left: 25%;
    width: 68%;
    height: 420px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.banner{
    background-color: #f10e34;
    width: 86%;
    margin-left: 3%;
    margin-right: 11%;
    height: 420px;
}
.category ul{
    width: 70%;
    padding: 0 25px;
    list-style-type: none;
    font-family: latoreg;
    margin: 0;
}
.category a{
    color: #222222;
}
.category ul li{
    border-bottom: 1px solid #eaeaea ;
    padding: 12px 0;
}

.category ul li i{
    color: #a6a6a6; 
    padding-right: 15px;
}

.image{
    background-image: url('../Images/banner.png');
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner_text{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    color: white;
    font-family: latoreg; 
    padding-top:15px ;
    font-size: 13px;
}
.banner_text a{
    color:white;
}

/*Hot deal*/
.hot_deal{
    margin-top: 5%;
    background-color: white;
    margin-left: 25%;
    width: 68%;
    height: 390px;
    font-family: latobold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 14px;
  padding-top: 18px;
  padding-left: 10px;
  justify-content: space-between;
}

.dots{
    text-align: right;
}

.dots .dot {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

 .dots .dot i {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: #fff;
  background: #ddd;
  text-align: center;
  cursor: pointer;
}
 .dots .dot i:hover{
     background: red;
 }


.image_2{
    margin-top: 8%;
    background-image: url('../Images/hot_deal.jpg');
    background-size: 100% 100%;
    height: 200px;
}
/*Test*/
.item_1{
    text-align: center;
    padding-top: 15px;
    font-family: latoreg;
}
.item_1 p{
    padding-bottom: 6px;
}
.item_1 p b{
    padding-left: 6px;
    color: black;
}
.item_1 p i{
    color:#ffc808;
}
.item_1 a{
    color:#6e6e6e;
}
/*End test*/

.pro_new{
    margin-top: 3%;
    background-color: white;
    margin-left: 3%;
    width: 86%;
    height: 390px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: latoreg;
}
.pro_new .new_1{
    margin: 10px;
}
/*new product*/
.pro_title{
    width: 97%;
    display: flex;
    height: 35px;
    padding: 12px 15px;
    border-bottom: 1px solid #eaeaea;
}
.pro_title .pro_name{
    padding-top: 10px;
    width: 25%;
    font-family: latobold;
    font-size: 17px;
}
.pro_new .pro_title .menu{
    width: 65%;
    text-align: right;
    padding-top: 10px;
}
.pro_title .dots{
    padding-top: 10px;
    width: 10%;
    float: right;
}
.pro_title .menu ul{
    list-style-type: none;
    
}
.pro_title .menu ul li{
    display: inline-block;
    padding-right: 10px;
}
.pro_title .menu ul li a {
    color: black; 
    font-size: 13px;
}
/*mid*/

.mid{
    margin: 15px 15px;
    display: flex;
    font-family: latoreg;
    font-size: 14px;
}
.product_1,.product_2,.product_3,.product_4{
    width: 22%;
    margin: 0 13px;
}
.image_3{
    margin-top: 2%;
    background-image: url('../Images/new_product.jpg');
    background-size: 100% 100%;
    height: 200px;
}

/*4*/

.price_4{
    text-align: center;
    padding-top: 15px;
    font-family: latoreg;
    font-size: 13px;
}
.price_4 p{
    padding-bottom: 6px;
}
.price_4 p b{
    padding-left: 6px;
    color: black;
}
.price_4 p i{
    color:#ffc808;
}
.price_4 a{
    color:#6e6e6e;
}

/*end*/

.box{
    padding-left: 10px;
    font-family: latoreg;
    padding-top: 20px;
    text-align: left;
}
.box input{
    width: 97%;
    height: 40px;
    border-radius: 9px;
    font-size: 15px;
    background-color: #f3f3f3;
    border: none;
    out
}

.box_button{
    width: 100px;
    background-color: #f22f49;
    padding: 10px 5px;
    text-align: center;
    border-radius: 16px;
    font-family: latobold;
}
.box_button a{
    color: white;
}
.letter{
    margin-top: 5%;
    background-color: white;
    margin-left: 25%;
    width: 68%;
    height: 250px;
    font-family: latobold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.men{
    margin-top: 5%;
    margin-left: 25%;
    background-color: #fff;
    width: 68%;
    height: 420px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.men .men_img{
    background-image: url('../Images/deal.png');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.fasion{ 
    margin-left: 2%;   
    margin-top: 2%;
    display: flex;
    width: 88%;
    height: auto;
}

.fasion_1{
    display: flex;
    margin: 9px 7px;
    background-color: white;
    width: 48%;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.fasion_1 .fasion_img{
    background-image: url('../Images/image_5.png');
    background-size: 100% 100%;
    width: 250px;
    height: 250px;
}
.fasion_1 .fasion_img_ngang{
    border-top: 250px solid transparent;
    border-right: 75px solid white;
}
.fasion_1 .fasion_text{
    width: 45%;
    padding-top: 30px;
    padding-right: 20px;
    text-align: right;
}
.fasion_1 .fasion_text a{
    color: #0f8ce9;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 2px;
    margin-bottom: 14px;
    border-bottom: #0f8ce9 solid 2px;
}
.laptop{
    margin-top: 3%;
    margin-left: 3%;
    width: 86%;
    height: 230px;
    background-color: white;
    display: flex;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.laptop_img{
    height: 100%;
    width: 50%;
}

.laptop_img img{
    padding-top: 50px;
    padding-left: 20px;
    width="100%"
}

.laptop_text{
    padding-top: 60px;
    padding-left: 50px;
    width: 50%;
    font-family: latobold;
}
.lap_btn{
    width: 100px;
    background-color: #f22f49;
    border-radius: 12px;
    text-align: center;
    padding: 10px 0;
}

.lap_btn a{
    color: white;
}

.future{
    margin-top: 3%;
    margin-left: 3%;
    background-color: white;
    width: 86%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
.future .pro_title .pro_name{
    width: 30%;
    font-family: latobold;
    font-size: 17px;
}
.future .pro_title .dots{
    width: 80%;
    float: right;
}

.future_a{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 30px;
    padding-left: 20px;
}

.image_4{
    background-image: url('../Images/image_3.png');
    background-size: 100% 100%;
    padding: 10px 0 0 10px;
    width: 40%;
    height: 80px;
}


.fb{
    display: flex;
    padding-bottom: 30px;
}
.last_foot{
    margin-top: 2%;
    width: 100%;
    height: 150px;
    background-color: #f10e34;
}

.last_1{
    padding-top: 30px;
    margin-left: 8%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

#footer{
    width: 100%;
    height: 350px;
    background-color: #222222;
}

.foot_lol{
    padding-top: 45px;
    margin-left: 8%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-right: 8%;
    font-size: 13px;
    color: #a1a1a1;
    font-family: latoreg;
}

.color{
    color: #6e6e6e;
}

.foot_lol ul li i{
    color: #f10e34; 
    padding-right: 10px;
}
.foot_lol ul li a{
    color: #a1a1a1;
}
.foot_lol h3{
    color: white;
    font-size: 16px;
}

.foot_2 ul{
    list-style-type: none;
    padding: 0;
}
.foot_2 ul li{
    padding-top: 6px;
}

.foot_3 ul{
    list-style-type: none;
    padding: 0;
}

.foot_3 ul li{
    padding-top: 6px;
}

.foot_4 ul{
    list-style-type: none;
    padding: 0;
}

.foot_4 ul li{
    padding-top: 6px;
}

.foot_5 ul{
    list-style-type: none;
    padding: 0;
}

.foot_5 ul li{
    padding-top: 6px;
}

.foot_foot{
    background-color: black;
    width: 100%;
    height: 100px;
    font-family: latoreg;
    font-size: 13px;
}
.menu_footer ul{
    margin: 0;
    padding-top: 20px;
    list-style-type: none;
    text-align: center;
}
.menu_footer ul li{
    display: inline-block;
    padding-right: 25px;
}
.menu_footer ul li a{
    text-decoration: none;
    color: #f1f1f1;
}
center{
    color: white;
    padding-top: 20px;
}
.in_banner{
    padding-top: 60px;
}
#line1{
    margin-left: 68px;
    font-family: latoblack;
    font-size: 35px;
    color: #303a7a;
}
#line2{
    margin-left: 40px;
    font-family: latoblack;
    font-size: 55px;
    color: #fff;
    text-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.2);
}
#line3{
    margin-left: 140px;
    font-family: latoblack;
    font-size: 20px;
    color: #fff;
}
.button-banner{
    margin-left: 160px;
    padding: 10px;
    border: 2px solid black;
    text-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    color: black;
}
.button-banner:hover{
    border: 2px solid white;
    color: white;
}

.in_lap{
    padding-top: 50px;
}

.in_lap .line1{
    margin-left: 480px;
    font-family: latobold;
    font-size: 15px;
    color: black;
}
.in_lap .line2{
    margin-left: 480px;
    font-family: latobold;
    font-size: 15px;
    color: #0f8ce9;
}

.in_lap .button_lap{
    margin-left: 500px;
    width: 100px;
    height: 40px;
    background-color: #f22f49;
    border-radius: 7px;
}












