*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    background-color: #f3f3f3;
    z-index: 10;
}
@font-face{
    font-family: latoblack;
    src: url('../font/Lato-Black.ttf');
}
@font-face {
  font-family: latoreg;
  src: url('../font/Lato-Regular.ttf');
}
@font-face{
    font-family: latobold;
    src: url('../font/Lato-Bold.ttf');
}
#container {
    margin: 0;
}

#header{
    display: flex;
    background-color: #222222;
    height: 110px;
}

#header a{
    color: white;
}
#menu_2 a{
    color: white;
}

#header_left{
    width: 30%;
    margin-left: 8%;
    padding-top: 19px;
}

#header_right{
    width: 70%;
    margin-right: 8%;
    display: block;
}

.menu_1{
    height: 50px;
    width: 100%;
}
.menu_2{
    height: 60px;
}

.menu_1 ul {
    display: flex;
    list-style-type: none;
    float: right;
    font-size: 12px;
}
.menu_1 ul li{
    font-family: latoreg;
    padding-left: 10px;
}
a{
    text-decoration: none;
}


.text{grid-area: input;}
.cart{grid-area: cart;color: white;}
.cart .icon{grid-area: cart_icon}
.cart .total{grid-area: cato}

.search{
    width: 70%;
    display: flex;
    height: 37px;
    margin-bottom: 25px;
}

.search input {
  width: 85%;
  font-size: 16px !important;
  background: #fff;
  border: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}
.menu_2{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.search button i{
    font-size: 20px;
}

.search button {
  width: 10%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f10e34;
  border: #f10e34;
  color: #fff;
}

.cart {
width: 10%;
  display: flex;
  margin-left: 3%;
}

 .cart-icon i {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f10e34;
  color: #fff;
  line-height: 36px;
  text-align: center;
}

 .cart-desc {
  color: #fff;
  margin-left: 6px;
  font-size: 15px;
  line-height: 1.2;
}

/* CATEGORY */
#menu_2{
    width: 100%;
    display: flex;
    background-color: #f10e34;
    font-family: latobold;
    height: 50px;
    font-size: 14px;
}
#menu_2 .cate{
    padding: 14px 0;
    width: 25%;
    margin-left: 10%;
    color: #fce0e2;
}
#menu_2 .cate i{
    padding-right: 10px;
}
#menu_2 .cate_2{
    padding-top: 15px;
    width: 75%;
}
#menu_2 .cate_2 ul{
    padding-left: 2%;
    display: flex;
    list-style-type: none;
    font-family: latoreg;
    text-align: center;
}
#menu_2 .cate_2 ul li{
    padding-right: 6%;
}

/*Banner*/
#content{
    display: flex;
}
#navbar{
    width: 30%;
}
#product{
    width: 70%;
}

.category{
    background-color: white;
    margin-left: 25%;
    width: 68%;
    height: 420px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.banner{
    background-color: #f10e34;
    width: 86%;
    margin-left: 3%;
    margin-right: 11%;
    height: 420px;
}
.category ul{
    width: 70%;
    padding: 0 25px;
    list-style-type: none;
    font-family: latoreg;
    margin: 0;
}
.category a{
    color: #222222;
}
.category ul li{
    border-bottom: 1px solid #eaeaea ;
    padding: 12px 0;
}

.image{
    background-image: url('../Images/banner.png');
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner_text{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    color: white;
}

/*Hot deal*/
.hot_deal{
    margin-top: 2%;
    background-color: white;
    margin-left: 25%;
    width: 68%;
    height: 390px;
    font-family: latobold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 14px;
  padding-top: 16px;
  justify-content: space-between;
}
.dots .dot {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

 .dots .dot i {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: #fff;
  background: #ddd;
  text-align: center;
  cursor: pointer;
}


.image_2{
    margin-top: 8%;
    background-image: url('../Images/hot_deal.jpg');
    background-size: 100% 100%;
    height: 200px;
}
.price{
    padding-top: 15px;
    font-family: latoreg;
    text-align: center;
}

.pro_new{
    margin-top: 2%;
    background-color: white;
    margin-left: 3%;
    width: 86%;
    height: 390px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: latoreg;
}
/*new product*/
.pro_title{
    width: 100%;
    display: flex;
    height: 50px;
    padding: 12px 15px;
    border-bottom: 1px solid #eaeaea;
}
.pro_title .pro_name{
    width: 25%;
    font-family: latobold;
    font-size: 17px;
}
.pro_new .pro_title .menu{
    width: 55%;
    text-align: right;
}
.pro_title .dots{
    width: 15%;
    float: right;
}
.pro_title .menu ul{
    list-style-type: none;
}
.pro_title .menu ul li{
    display: inline-block;
    padding-right: 10px;
}
/*mid*/

.mid{
    padding-top: 15px;
    width: 100%;
    display: flex;
    font-family: latoreg;
    font-size: 14px;
}
.product_1,.product_2,.product_3,.product_4{
    width: 25%;
    padding-right: 10px;
}
.image_3{
    margin-top: 2%;
    background-image: url('../Images/new_product.jpg');
    background-size: 100% 100%;
    height: 200px;
}
.price_3{
    width: 100%;
    padding-top: 15px;
    font-family: latoreg;
    text-align: center;
}
.box{
    padding-left: 20px;
    font-family: latoreg;
    padding-top: 20px;
    text-align: left;
}
.box input{
    width: 80%;
    height: 35px;
    border-radius: 9px;
    font-size: 15px;
    background-color: #f3f3f3;
}

.box p{
    width: 40%;
    background-color: #f10e34;
    padding: 10px;
    color: white;
    border-radius: 13px;
}
.letter{
    margin-top: 2%;
    background-color: white;
    margin-left: 25%;
    width: 68%;
    height: 250px;
    font-family: latobold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.men{
    margin-top: 2%;
    margin-left: 25%;
    background-image: url('../Images/deal.png');
    background-size: 100% 100%;
    width: 69%;
    height: 420px;
}

.fasion{ 
    margin-left: 2.5%;   
    margin-top: 2%;
    display: flex;
    width: 90%;
    height: auto;
}
.fasion_1{
    background-image: url('../Images/image_2.png');
    background-size: 100% 100%;
    width: 50%;
    height: 250px;
    margin-right: 3%;
}

.laptop{
    margin-top: 2%;
    margin-left: 3%;
    width: 86%;
    height: 230px;
    background-color: white;
    display: flex;
}
.laptop_img{
    height: 100%;
    width: 50%;
}
.laptop_text{
    padding-top: 60px;
    padding-left: 30px;
    width: 50%;
    height: 100%;
    font-family: latobold;
}
.lap_btn{
    color: white;
    width: 100px;
    background-color: #f22f49;
    border-radius: 12px;
    text-align: center;
    padding: 10px 0;
}

.future{
    margin-top: 2%;
    margin-left: 3%;
    background-color: white;
    width: 86%;
}
.future .pro_title .pro_name{
    width: 25%;
    font-family: latobold;
    font-size: 17px;
}
.future .pro_title .dots{
    width: 70%;
    float: right;
}

.future_a{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 30px;
    padding-left: 20px;
}

.image_4{
    background-image: url('../Images/image_3.png');
    background-size: 100% 100%;
    padding: 10px 0 0 10px;
    width: 40%;
    height: 80px;
}
.fb{
    display: flex;
    padding-bottom: 20px;
}
.price_4{
    width: 50%;
    padding-left: 8px;
    font-size: 13px;
    font-family: latoreg;
}

.last_foot{
    margin-top: 2%;
    width: 100%;
    height: 150px;
    background-color: #f10e34;
}

.last_1{
    padding-top: 30px;
    margin-left: 8%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-right: 8%;
}
.logo_4{
    text-align: center;
    background-image:url('../Images/image_4.png');
    background-size: 100% 100%;
    padding-left: 15px;
    width: 70%; 
    height: 90px;
}

#footer{
    width: 100%;
    height: 350px;
    background-color: #222222;
}

.foot_lol{
    padding-top: 45px;
    margin-left: 8%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-right: 8%;
    color: #a1a1a1;
    font-size: 13px;
}

.foot_2 ul{
    list-style-type: none;
    padding: 0;
}
.foot_2 ul li{
    padding-top: 6px;
}

.foot_3 ul{
    list-style-type: none;
    padding: 0;
}

.foot_3 ul li{
    padding-top: 6px;
}

.foot_4 ul{
    list-style-type: none;
    padding: 0;
}

.foot_4 ul li{
    padding-top: 6px;
}

.foot_5 ul{
    list-style-type: none;
    padding: 0;
}

.foot_5 ul li{
    padding-top: 6px;
}

.foot_foot{
    background-color: black;
    width: 100%;
    height: 100px;
    
}
.menu_footer ul{
    margin: 0;
    padding-top: 20px;
    list-style-type: none;
    text-align: center;
}
.menu_footer ul li{
    display: inline-block;
    padding-right: 25px;
}
.menu_footer ul li a{
    text-decoration: none;
    color: white;
}
center{
    color: white;
    padding-top: 40px;
}
.in_banner{
    padding-top: 60px;
}
#line1{
    margin-left: 68px;
    font-family: latoblack;
    font-size: 35px;
    color: #303a7a;
}
#line2{
    margin-left: 40px;
    font-family: latoblack;
    font-size: 55px;
    color: #fff;
    text-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.2);
}
#line3{
    margin-left: 140px;
    font-family: latoblack;
    font-size: 20px;
    color: #fff;
}
.button-banner{
    width: 100px;
    margin-left: 160px;
    padding: 10px 0;
    border: 2px solid black;
}
.button-banner a{
    color: black;
    text-decoration: none;
    display: block;
}

.in_lap{
    padding-top: 50px;
}

.in_lap .line1{
    margin-left: 480px;
    font-family: latobold;
    font-size: 15px;
    color: black;
}
.in_lap .line2{
    margin-left: 480px;
    font-family: latobold;
    font-size: 15px;
    color: #0f8ce9;
}

.in_lap .button_lap{
    margin-left: 500px;
    width: 100px;
    height: 40px;
    background-color: #f22f49;
    border-radius: 7px;
}












